Lecture Notes:

http://nbviewer.jupyter.org/github/jmportilla/Complete-Python-Bootcamp/tree/master/

Documentation:

https://www.python.org/doc/

Git:

https://git-scm.com/
http://gitimmersion.com/

# 1. Numbers

In [9]:
print(3+2)
print(3-2)
print(3/2)
print(3*2)
print(3**2)
print(9//4)

5
1
1.5
6
9
2

In [4]:
float(3)

3.0

In [7]:
from __future__ import division
3/2

1.5

# 2. Strings

In [11]:
'hello'

'hello'

In [12]:
"hello"

'hello'

In [13]:
"hello
Hi"

SyntaxError: EOL while scanning string literal (<ipython-input-13-a34041b6ac42>, line 1)

In [16]:
'''Hello
    Hi'''

'Hello\n    Hi'

In [19]:
'I'm a string'

SyntaxError: invalid syntax (<ipython-input-19-ed8ab88975c9>, line 1)

In [18]:
"I'm a string"

"I'm a string"

In [1]:
x = 'laptop band kar'

In [2]:
x[1] = x #Strings are immutable

TypeError: 'str' object does not support item assignment

In [4]:
print(x[1:]) #Index 1 to end
print(x[:5]) #Index start to Index 4
print(x[-1]) #Last letter of string
print(x[:-1]) #Everyting except last letter
print(x[1:5]) #Index 1 to Index 4
print(x[::1]) #In step size of 1
print(x[::2]) #In step size of 2
print(x[::-1]) # print string in reverse

aptop band kar
lapto
r
laptop band ka
apto
laptop band kar
lpo adkr
rak dnab potpal

# 3. Print Formatting

https://pyformat.info/

In [2]:
str = "Batman"
print ('I am %s' %(str))

I am Batman

In [6]:
num = 12.125
print('The number is %s' %(num)) #%s represents str()

The number is 12.125

In [7]:
print('The number is %1.2f' %(num))

The number is 12.12

In [8]:
print('The number is %25.3f'%num) #will take 25 spaces minimum

The number is                    12.125

In [9]:
print('Convert to String %r'%(num)) #%r represents repr()

Convert to String 12.125

In [14]:
print ('First %s, Second %1.2f, Third %s'%(str,num,'utkarsh'))

First Batman, Second 12.12, Third utkarsh

In [15]:
print ('First %s, Second %1.2f, Third %r'%(str,num,'utkarsh'))

First Batman, Second 12.12, Third 'utkarsh'

In [20]:
print ('hello {str}. Hi {str2}. Bye {str} '.format(str = 'Flash', str2 = 'Batman'))

hello Flash. Hi Batman. Bye Flash

# 4. Lists

Unlike strings, they are mutable, meaning the elements inside a list can be changed!

In [21]:
utk_lists = ['one', "two",3,4]

In [22]:
print (utk_lists)

['one', 'two', 3, 4]

In [46]:
utk_lists * 2

['five', 4, 3, 'one', 'five', 4, 3, 'one']

In [23]:
utk_lists.append('five')

In [24]:
print (utk_lists)

['one', 'two', 3, 4, 'five']

In [25]:
utk_lists += 6

TypeError: 'int' object is not iterable

In [26]:
utk_lists += "6"

In [27]:
print (utk_lists)

['one', 'two', 3, 4, 'five', '6']

In [29]:
utk_lists.pop()

'6'

In [30]:
print (utk_lists)

['one', 'two', 3, 4, 'five']

In [32]:
utk_lists.pop(1)

'two'

In [33]:
print (utk_lists)

['one', 3, 4, 'five']

In [38]:
utk_lists.reverse()
print(utk_lists)

['five', 4, 3, 'one']

In [39]:
utk_lists.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [40]:
list2 = ['utkarsh','motilal','agrawal']
list2.sort()
print(list2)

['agrawal', 'motilal', 'utkarsh']

In [41]:
list3 = [3.1,5,1]
list3.sort()
print(list3)

[1, 3.1, 5]

NESTED LISTS:

In [45]:
nList = [['batman','bruce','wayne',[1]],['superman','clark','kent',[2]],['wonder woman','diana','prince',[3]]]
print(nList)
print(nList[0])
print(nList[1][0])
print(nList[2][3][0])

[['batman', 'bruce', 'wayne', [1]], ['superman', 'clark', 'kent', [2]], ['wonder woman', 'diana', 'prince', [3]]]
['batman', 'bruce', 'wayne', [1]]
superman
3

LIST COMPREHENSIONS:

In [49]:
superheroNames =  [row[0] for row in nList]
print(superheroNames)

['batman', 'superman', 'wonder woman']

In [4]:
l = [0]*3
l

[0, 0, 0]

# 5. DICTIONARIES

--Hash Table

--Key Value Pair

--Unique keys

-- Dictionaries are Mutable

In [3]:
my_dict = {'key1':123,'key2':234.55,'key3':'string'}

In [4]:
my_dict['key1'] - 120

3

In [7]:
my_dict2 = {12:99}

In [8]:
my_dict2[12]

99

In [9]:
my_dict2['utkarsh'] = 'agrawal' #Adding elements

In [10]:
my_dict2

{12: 99, 'utkarsh': 'agrawal'}

In [13]:
nested_dict = {'level1':{'level2':{'level3':"end"}}}

In [15]:
nested_dict['level1']

{'level2': {'level3': 'end'}}

In [17]:
nested_dict['level1']['level2']

{'level3': 'end'}

In [18]:
nested_dict['level1']['level2']['level3']

'end'

In [19]:
nested_dict['level1']['level2']['level3'].upper()

'END'

In [20]:
nested_dict['level1']['level2']['level3']['level4'] = 'new end'

TypeError: 'str' object does not support item assignment

In [23]:
nested_dict['level1']['level2']['level3'] = 'end'
nested_dict

{'level1': {'level2': {'level3': 'end'}}}

In [24]:
nested_dict['level1']['level2']['level3'] = {'level4':'new end'}

In [25]:
nested_dict

{'level1': {'level2': {'level3': {'level4': 'new end'}}}}

In [31]:
my_dict2.values()

dict_values([99, 'agrawal'])

In [29]:
my_dict2.items() #Returns Tuples

dict_items([(12, 99), ('utkarsh', 'agrawal')])

In [1]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1]

['hello']

In [2]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
#grab hello
d['k1'][2]['k2'][1]['tough'][2]

['hello']

# 6. TUPLES

-- Similar to Lists but Immutable

In [33]:
my_tuple = ('one',2,3)

In [35]:
my_tuple

('one', 2, 3)

In [36]:
my_tuple.index(2)

1

In [38]:
my_tuple.count('one')

1

In [39]:
my_tuple[1]

2

In [40]:
my_tuple[-1]

3

In [41]:
my_tuple[0] =1 #Immutablity

TypeError: 'tuple' object does not support item assignment

In [42]:
len(my_tuple)

3

# 7. Files

In [44]:
f = open("zzzz.txt","r")

In [45]:
f.read()

'Monday\nBACK - BICEPS\n\nTuesday\nCHEST - SHOULDER - TRICEPS\n\nWednesday\nCARDIO\n\nThursday\n--\n\nFriday\nLEGS\n\nSaturday\nCARDIO / CHEST, TRICEPS AND ABS /\n\n\nCARDIO\nStepup x2\nTreadmill (15 min)\nBurpees x2\nDumbell Kettlebell x3\nMountain Climbers x2\nReverse Crunches / Leg Raises x2\nCrunches x2\nPlank \n\n\nBACK \nPull-Up x1\nDeadlift x3\nBent over deadlift x3\nLat pulldown x2\nSeated Rowing x2\nDecline Bench Dumbbell Pull-Over x3\n\nLEGS\nSquats x3\nLunges x2\nLeg press x3\nLeg Curls x2\nLeg Extension x3\nCalves x2\n\nCHEST\nPush-Ups max\nBarbell Bench Press x2\nIncline/ Decline Press x2\nDips x2\nPeck Deck Fly x2\n\nSHOULDER\nSide Raise x2\nFront Raise x2\nUpright Barbell Row x2\nShoulder Press x2\n\nTRICEPS\nReverse PushUp x2\nSkull Crusher x3\nClose-Grip Barbell Bench Press x3\nTriceps Pushdown x2\n\nBICEPS\nBarbell Curl x3\nPreacher Curl x3\nHammer Curl x2\nStanding Biceps Cable Curl x3\nConcentration Curl* x2\n'

In [46]:
f.read()

''

No output since cursor at EOF

In [47]:
f.seek(0) #Puts cursor at entered location

0

In [48]:
f.read()

'Monday\nBACK - BICEPS\n\nTuesday\nCHEST - SHOULDER - TRICEPS\n\nWednesday\nCARDIO\n\nThursday\n--\n\nFriday\nLEGS\n\nSaturday\nCARDIO / CHEST, TRICEPS AND ABS /\n\n\nCARDIO\nStepup x2\nTreadmill (15 min)\nBurpees x2\nDumbell Kettlebell x3\nMountain Climbers x2\nReverse Crunches / Leg Raises x2\nCrunches x2\nPlank \n\n\nBACK \nPull-Up x1\nDeadlift x3\nBent over deadlift x3\nLat pulldown x2\nSeated Rowing x2\nDecline Bench Dumbbell Pull-Over x3\n\nLEGS\nSquats x3\nLunges x2\nLeg press x3\nLeg Curls x2\nLeg Extension x3\nCalves x2\n\nCHEST\nPush-Ups max\nBarbell Bench Press x2\nIncline/ Decline Press x2\nDips x2\nPeck Deck Fly x2\n\nSHOULDER\nSide Raise x2\nFront Raise x2\nUpright Barbell Row x2\nShoulder Press x2\n\nTRICEPS\nReverse PushUp x2\nSkull Crusher x3\nClose-Grip Barbell Bench Press x3\nTriceps Pushdown x2\n\nBICEPS\nBarbell Curl x3\nPreacher Curl x3\nHammer Curl x2\nStanding Biceps Cable Curl x3\nConcentration Curl* x2\n'

In [49]:
f.seek(0)

0

In [51]:
f.readlines() #returns list

['Monday\n',
 'BACK - BICEPS\n',
 '\n',
 'Tuesday\n',
 'CHEST - SHOULDER - TRICEPS\n',
 '\n',
 'Wednesday\n',
 'CARDIO\n',
 '\n',
 'Thursday\n',
 '--\n',
 '\n',
 'Friday\n',
 'LEGS\n',
 '\n',
 'Saturday\n',
 'CARDIO / CHEST, TRICEPS AND ABS /\n',
 '\n',
 '\n',
 'CARDIO\n',
 'Stepup x2\n',
 'Treadmill (15 min)\n',
 'Burpees x2\n',
 'Dumbell Kettlebell x3\n',
 'Mountain Climbers x2\n',
 'Reverse Crunches / Leg Raises x2\n',
 'Crunches x2\n',
 'Plank \n',
 '\n',
 '\n',
 'BACK \n',
 'Pull-Up x1\n',
 'Deadlift x3\n',
 'Bent over deadlift x3\n',
 'Lat pulldown x2\n',
 'Seated Rowing x2\n',
 'Decline Bench Dumbbell Pull-Over x3\n',
 '\n',
 'LEGS\n',
 'Squats x3\n',
 'Lunges x2\n',
 'Leg press x3\n',
 'Leg Curls x2\n',
 'Leg Extension x3\n',
 'Calves x2\n',
 '\n',
 'CHEST\n',
 'Push-Ups max\n',
 'Barbell Bench Press x2\n',
 'Incline/ Decline Press x2\n',
 'Dips x2\n',
 'Peck Deck Fly x2\n',
 '\n',
 'SHOULDER\n',
 'Side Raise x2\n',
 'Front Raise x2\n',
 'Upright Barbell Row x2\n',
 'Shoulder Press x2\n',
 '\n',
 'TRICEPS\n',
 'Reverse PushUp x2\n',
 'Skull Crusher x3\n',
 'Close-Grip Barbell Bench Press x3\n',
 'Triceps Pushdown x2\n',
 '\n',
 'BICEPS\n',
 'Barbell Curl x3\n',
 'Preacher Curl x3\n',
 'Hammer Curl x2\n',
 'Standing Biceps Cable Curl x3\n',
 'Concentration Curl* x2\n']

In [52]:
%%writefile PythonBC.txt
FirstLine
secondLine

Writing PythonBC.txt

In [55]:
for line in open("PythonBC.txt"):
    print (line)

FirstLine

secondLine

# 8. SETS

In [60]:
my_set1 = set()

In [61]:
my_set2 = {2,3}

In [62]:
my_set2

{2, 3}

In [63]:
my_set1.add("utk")

In [64]:
my_set1

{'utk'}

In [67]:
my_set1.add("utk") #Immutability

# my_set1

In [76]:
set([1,1,2,3])

{1, 2, 3}

# 9. BOOLEANS

In [68]:
2>3

False

In [69]:
3>2

True

-----------------------
None ('null' equivalent)

In [71]:
b = None

In [72]:
b

In [73]:
b = 'utk'

In [74]:
b

'utk'

# 10. COMPARISON OPERATORS